name: Protobuf

on:
  pull_request:
  push:
    branches: [main]

jobs:
  style:
    name: Style
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: bufbuild/buf-setup-action@v1.40.1
      - run: buf format --diff --exit-code

  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: arduino/setup-protoc@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: bufbuild/buf-setup-action@v1.40.1
      - uses: bufbuild/buf-lint-action@v1.1.1
      - name: Compile protobuf
        run: buf generate
