name: Rust

on:
  pull_request:
  push:
    branches: [main]
    tags: ["v*.*.*"]

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v1
      - name: Check
        run: cargo check --all-features

  test:
    name: Test
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v1
      - name: Run unit tests
        run: cargo test --all-features
      - name: Install test runner dependencies
        run: python3 -m pip install --upgrade pip protobuf pyyaml
      - name: Run validation tests
        # No need to run validation tests for all operating systems, and Linux
        # runners are the fastest of the bunch.
        if: ${{ matrix.os == 'ubuntu-latest' }}
        working-directory: tests
        run: python3 runner.py run --no-html

  style:
    name: Style
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v1
      - name: Rustfmt
        run: cargo fmt --all -- --check

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - uses: dtolnay/rust-toolchain@clippy
      - uses: Swatinem/rust-cache@v1
      - name: Clippy
        run: cargo clippy --all-features -- -D warnings

  doc:
    name: Doc
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v1
      - name: Doc
        run: RUSTDOCFLAGS="-Dwarnings" cargo doc --workspace --all-features

  release:
    name: Release
    runs-on: ubuntu-latest
    if: "startsWith(github.ref, 'refs/tags/')"
    needs: [check, test]
    environment: VALIDATOR_RELEASE
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - uses: dtolnay/rust-toolchain@stable
      - name: Fetch Substrait submodule tags
        working-directory: substrait
        run: |
          git fetch --recurse-submodules=no origin +refs/tags/*:refs/tags/*
          git describe --dirty --tags
      - name: Local build to populate resource files
        working-directory: rs
        run: cargo build
      - name: Publish substrait-validator-derive
        working-directory: derive
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
        run: cargo publish --allow-dirty
      - name: Wait for substrait-validator-derive to appear in the index
        continue-on-error: true
        run: python3 ci/crates-io-wait.py substrait-validator-derive `cat ci/version` 1800
      - name: Publish substrait-validator
        working-directory: rs
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
        run: cargo publish --allow-dirty
